html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.game__container {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0143a7), to(#d0dcf7));
  background-image: linear-gradient(#0143a7, #d0dcf7);
  font-family: "Lobster", cursive;
  font-size: 20px;
  min-height: 100vh;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.button, .game__checkButton, .game__easyButton, .game__mediumButton, .game__hardButton {
  cursor: pointer;
  width: 80px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  font-weight: bold;
  -webkit-box-shadow: 5px 5px 10px 0px #706f7c;
          box-shadow: 5px 5px 10px 0px #706f7c;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .button, .game__checkButton, .game__easyButton, .game__mediumButton, .game__hardButton {
    width: 45px;
    height: 25px;
  }
}

.game__checkButton {
  width: 150px;
  height: 60px;
  font-size: 25px;
  font-family: "Lobster", cursive;
  margin-right: 30px;
  border: 2px solid transparent;
  -webkit-box-shadow: 5px 5px 10px 0px #171452;
          box-shadow: 5px 5px 10px 0px #171452;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.game__checkButton:hover {
  border-top: 2px solid #ffe4c4;
  border-left: 2px solid #ffe4c4;
  background-color: #ffe4c4;
}

@media only screen and (max-width: 600px) {
  .game__checkButton {
    width: 60px;
    height: 30px;
    font-size: 10px;
    margin-right: unset;
    margin-top: 10px;
  }
}

.game__introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .game__introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.game__title {
  padding-left: 30px;
  margin: 15px 0 0;
  text-shadow: 3px 1px 5px #dccc85;
}

@media only screen and (max-width: 600px) {
  .game__title {
    padding: 5px;
    font-size: 35px;
  }
}

.game__level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-right: 10px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .game__level {
    font-size: 10px;
    margin-top: 50px;
    padding-right: 0px;
  }
}

.money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .money {
    max-width: 100%;
  }
}

.game__command {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .game__command {
    max-height: -webkit-min-content;
    max-height: -moz-min-content;
    max-height: min-content;
    font-size: 14px;
  }
}

.game__amount {
  margin-right: 20px;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .game__amount {
    font-size: 20px;
    margin-right: 0px;
  }
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameInfo {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main {
    display: unset;
  }
  .gameInfo {
    font-size: 10px;
    text-align: justify;
  }
}

.coins__container {
  width: 25vw;
  height: 20vw;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .coins__container {
    width: 100%;
    min-height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.coins__tile {
  position: relative;
  width: 4vw;
  height: 4vw;
  margin: 2px;
  -webkit-animation: showCoins 3s;
          animation: showCoins 3s;
}

@media only screen and (max-width: 600px) {
  .coins__tile {
    width: 10vw;
    height: 10vw;
  }
}

@-webkit-keyframes showCoins {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showCoins {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.coin {
  position: absolute;
  width: 4vw;
  height: 4vw;
  margin: 5px;
  z-index: 100;
  cursor: -webkit-grab;
  cursor: grab;
  -ms-touch-action: none;
      touch-action: none;
}

.coin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .coin {
    width: 9vw;
    height: 9vw;
  }
}

.pig {
  width: 20vw;
  height: 20vw;
  padding: 2vw;
  border-radius: 50%;
  position: relative;
  top: 20%;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  .pig {
    width: 35vw;
    height: 35vw;
    left: 48%;
    right: unset;
    margin-bottom: 40px;
  }
}

.shadow {
  -webkit-box-shadow: 0px 0px 25px grey;
          box-shadow: 0px 0px 25px grey;
}

.shadow2:hover {
  -webkit-box-shadow: 0px 0px 25px grey;
          box-shadow: 0px 0px 25px grey;
}

.alternativeText {
  background-image: url(../images/alternative.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.pig__body {
  position: absolute;
  width: 253%;
  height: 151%;
  top: -21%;
  left: -117%;
  z-index: -1;
  background-image: url(../images/pig.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.pig__bubble {
  position: absolute;
  left: -4%;
  top: 74%;
  width: 23vw;
  height: 10vw;
  padding: 10px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #f1e1e1;
  -webkit-box-shadow: 5px 5px 30px 0px #6f8493;
          box-shadow: 5px 5px 30px 0px #6f8493;
  border-radius: 53px;
  opacity: 0;
}

.pig__bubble::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 2vw 2vw;
  border-color: #f1e1e1 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -20%;
  left: 55%;
}

@media only screen and (max-width: 600px) {
  .pig__bubble {
    left: 2%;
    width: 30vw;
    height: 14vw;
    padding: 5px;
    font-size: 13px;
  }
  .pig__bubble::after {
    content: "";
    top: -14%;
    left: 60%;
  }
}

.animation {
  -webkit-animation: display 4s;
          animation: display 4s;
}

@-webkit-keyframes display {
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

@keyframes display {
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

.game__easyButton {
  background-color: #1bda1b;
}

.game__easyButton:hover {
  border: 2px solid green;
}

.game__mediumButton {
  background-color: #faf601;
}

.game__mediumButton:hover {
  border: 2px solid #ffc400;
}

.game__hardButton {
  background-color: #ff0000;
}

.game__hardButton:hover {
  border: 2px solid #af0202;
}

.pig__promptButton {
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  position: absolute;
  top: -50%;
  left: -70%;
  display: none;
}

@media only screen and (max-width: 600px) {
  .pig__promptButton {
    top: -35%;
    left: -63%;
  }
}

.easy {
  display: none;
}

.medium {
  display: none;
}

.hard {
  display: none;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 10px;
  text-align: center;
  background-color: #ffe4c4;
  padding: 2px;
}
/*# sourceMappingURL=style.css.map */