html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.game__container {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-image: linear-gradient(#0143a7, #d0dcf7);
    font-family: "Lobster", cursive;
    font-size: 20px;
    min-height: 100vh;
    height: min-content;
}
.button {
    cursor: pointer;
    width: 80px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 5px 5px 10px 0px #706f7c;
    outline: none;
}
@media only screen and (max-width: 600px) {
    .button {
        width: 45px;
        height: 25px;
    }
}
.game__checkButton {
    @extend .button;
    width: 150px;
    height: 60px;
    font-size: 25px;
    font-family: "Lobster", cursive;
    margin-top: 10px;
    margin-right: 30px;
    border: 2px solid transparent;
    box-shadow: 5px 5px 10px 0px #171452;
    opacity: 0;
    transition: opacity 2s;
    &:hover {
        border-top: 2px solid #ffe4c4;
        border-left: 2px solid #ffe4c4;
        background-color: #ffe4c4;
    }
}
@media only screen and (max-width: 600px) {
    .game__checkButton {
        width: 60px;
        height: 30px;
        font-size: 10px;
        margin-right: unset;
        margin-top: 10px;
    }
}
.game__introduction {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .game__introduction {
        flex-direction: column;
    }
}
.game__title {
    padding-left: 30px;
    margin: 15px 0 0;
    text-shadow: 3px 1px 5px rgb(220, 204, 133);
}
@media only screen and (max-width: 600px) {
    .game__title {
        padding: 5px;
        font-size: 35px;
    }
}
.game__level {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 10px;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .game__level {
        font-size: 10px;
        margin-top: 50px;
        padding-right: 0px;
    }
}
.money {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .money {
        max-width: 100%;
    }
}
.game__command {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 2s;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .game__command {
        max-height: min-content;
        font-size: 14px;
    }
}
.game__amount {
    margin-right: 20px;
    font-size: 30px;
}
@media only screen and (max-width: 600px) {
    .game__amount {
        font-size: 20px;
        margin-right: 0px;
    }
}
.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.gameInfo {
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    .main {
        display: unset;
    }
    .gameInfo {
        font-size: 10px;
        text-align: justify;
    }
}
.coins__container {
    width: 25vw;
    height: 20vw;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .coins__container {
        width: 100%;
        min-height: 100px;
        flex-direction: row;
    }
}
.coins__tile {
    position: relative;
    width: 4vw;
    height: 4vw;
    margin: 2px;
    animation: showCoins 3s;
}
@media only screen and (max-width: 600px) {
    .coins__tile {
        width: 10vw;
        height: 10vw;
    }
}
@keyframes showCoins {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.coin {
    position: absolute;
    width: 4vw;
    height: 4vw;
    margin: 5px;
    z-index: 100;
    cursor: grab;
    touch-action: none;
}
.coin:hover {
    transform: scale(1.1);
}
@media only screen and (max-width: 600px) {
    .coin {
        width: 9vw;
        height: 9vw;
    }
}
.pig {
    width: 20vw;
    height: 20vw;
    padding: 2vw;
    border-radius: 50%;
    position: relative;
    top: 20%;
    right: 10%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .pig {
        width: 35vw;
        height: 35vw;
        left: 48%;
        right: unset;
        margin-bottom: 40px;
    }
}
.shadow {
    box-shadow: 0px 0px 25px grey;
}
.shadow2:hover {
    box-shadow: 0px 0px 25px grey;
}
.alternativeText {
    background-image: url(../images/alternative.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.pig__body {
    position: absolute;
    width: 253%;
    height: 151%;
    top: -21%;
    left: -117%;
    z-index: -1;
    background-image: url(../images/pig.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.pig__bubble {
    position: absolute;
    left: -4%;
    top: 74%;
    width: 23vw;
    height: 10vw;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f1e1e1;
    box-shadow: 5px 5px 30px 0px #6f8493;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    border-radius: 53px;
    opacity: 0;
    &::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 0 2vw 2vw;
        border-color: #f1e1e1 transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -20%;
        left: 55%;
    }
}
@media only screen and (max-width: 600px) {
    .pig__bubble {
        left: 2%;
        width: 30vw;
        height: 14vw;
        padding: 5px;
        font-size: 13px;
        &::after {
            content: "";
            top: -14%;
            left: 60%;
        }
    }
}
.animation {
    animation: display 4s;
}
@keyframes display {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}
.game__easyButton {
    @extend .button;
    background-color: #1bda1b;
    &:hover {
        border: 2px solid green;
    }
}
.game__mediumButton {
    @extend .button;
    background-color: #faf601;
    &:hover {
        border: 2px solid #ffc400;
    }
}
.game__hardButton {
    @extend .button;
    background-color: #ff0000;
    &:hover {
        border: 2px solid #af0202;
    }
}
.pig__promptButton {
    width: 7vw;
    height: 7vw;
    cursor: pointer;
    position: absolute;
    top: -50%;
    left: -70%;
    display: none;
}
@media only screen and (max-width: 600px) {
    .pig__promptButton {
        top: -35%;
        left: -63%;
    }
}
.easy {
    display: none;
}
.medium {
    display: none;
}
.hard {
    display: none;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 10px;
    text-align: center;
    background-color: #ffe4c4;
    padding: 2px;
}
